.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: black;

  max-height: 90vh;
  min-height: 90vh;
  max-width: 100vh;
  min-width: 100vw;

  font-family: 'Montserrat', cursive;
  color: black;

  touch-action: manipulation;
}

.upper-container {
  background-color: white;
  min-width: 50vh;
}

.lower-container {
  background-color: white;
  min-width: 50vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}
